.list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 22px;
  row-gap: 22px;
}

.photoContainer {
  width: 100%;
  position: relative;
  padding-bottom: 60%;
  border-radius: 20px;
  overflow: hidden;
}

.gallery {
  height: 100%;
}