.page {
  flex-grow: 1;
}

.container {
  color: rgb(79, 4, 24);
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}