.header {
  padding: 20px 0;
  background-color: rgb(79, 4, 24);
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;

  img {
    width: 100%;
  }
}

.logoText {
  font-size: 32px;
  color: white;
}

.profileMenu {
  margin-left: auto;
}

.auth {
  display: flex;
  gap: 20px;
}

.authItem {
  color: white;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 5px;
  color: rgba(79, 4, 24, 1);
  background-color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }
}