.row {
  display: flex;
}

.coverBlock {}

.coverBlockTitle {
  font-size: 30px;
  margin-bottom: 15px;
}

.uploadCover {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.column {
  &:not(:last-of-type) {
    margin-right: 25px;
  }
}

.mainInfoTitle {
  font-size: 30px;
  margin-bottom: 15px;
}

.formField {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.formFieldText {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.inputText {
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(79, 4, 24, 1);
}

.description {
  min-height: 100px;
  max-height: 200px;
  min-width: 450px;
  max-width: 450px;
}

.mainInfo {
  flex-grow: 1;
}

.mainInfoForm {
  display: flex;
  column-gap: 40px;
}

.dateInput {
  border: 1px solid rgba(79, 4, 24, 1);
  border-radius: 8px;

  input {
    height: 35px;
  }
}

.submitBtnBlock {
  position: absolute;
  bottom: 0;
  right: 0;
}


.mainInfoColumnSecond {
  position: relative;
}

.submitBtn {
  --g-button-text-color: rgba(255, 255, 255, 1);
  --g-button-background-color: rgba(79, 4, 24, 1);
  --g-button-background-color-hover: rgba(255, 255, 255, 1);
  --g-button-text-color-hover: rgba(79, 4, 24, 1);
  --g-button-border-width: 2px;
  --g-button-font-size: 20px;
  --g-button-border-radius: 10px;

  --g-button-padding: 35px;

  height: 45px;
}

.radio {
  background-color: rgba(79, 4, 24, 0.8);
  --g-color-base-generic: rgba(255, 255, 255, 0.8);
  --g-text-body-1-font-size: 17px;
}